<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= post.title %>
    </title>
</head>

<%- include('partials/header') %>

    <body>
        <h1>
            <%= post.title %>
        </h1>
        <p>
            <%= post.content %>
        </p>

        <form action="/posts/<%= id %>/delete" method="POST" class="post-actions-form">
            <button type="button" onclick="window.location.href='/posts/<%= id %>/edit'">Edit Post</button>
            <button type="submit">Delete Post</button>
        </form>
    </body>

    <%- include('partials/footer') %>

</html>